@use "variables";
@use "../3-modules/scrollbar";

* {
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  @include scrollbar.designScrollbar;
}

body {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}
