@mixin adjustingImagesInTheCarousel ($width, $height) {
    p {
        margin: 10px;
      }
    
      img {
        display: block;
        width: $width;
        height: $height;
        object-fit: contain;
    }
}

