@mixin adjustingImagesInTheCarousel {
    p {
        margin: 10px;
      }
    
      img {
        display: block;
        width: 200px;
        height: 150px;
        object-fit: contain;
        padding-bottom: 40px;
    }
}

