@use '../1-base/variables';

@mixin designScrollbar {
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
        width: 7px;
        background-color: variables.$dark-subtle;

        &-thumb {
            border-radius: 5px;
            border: 1px solid variables.$dark-subtle;
            background-color: variables.$primary-color;
        }
    }
}