@use "../1-base/variables";

.about {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: variables.$primary-color;
  background-image: linear-gradient(
    0deg,
    variables.$primary-color 0%,
    variables.$light-color 100%
  );
  padding: 50px 0;

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      color: variables.$dark-subtle;
      font-family: "Bakbak One";
      text-shadow: 1px solid variables.$dark-color;
    }

    p {
      text-align: justify;
      text-indent: 5px;
      width: 80%;
      color: variables.$dark-subtle;
      font-family: "Roboto", sans-serif;
      text-shadow: 1px solid variables.$dark-color;

      a {
        text-decoration: none;
      }
    }
  }
}
