@use "../1-base/variables";
@use "../1-base/base-mixins";
@use "../3-modules/border-shadow";
.skills {
  @include base-mixins.resetContainer;
  @include base-mixins.flexContainerCenter(0);
  @include base-mixins.background-gradient-theme;

  &__cards {
    width: 100%;
    @include base-mixins.resetContainer;
    @include base-mixins.flexContainerCenter(20px);

    .card {
      width: 40vw;
      height: 50vh;
      @include base-mixins.background-glass;

      .tools {
        @include base-mixins.resetContainer;
        background-image: url("../../../assets/imagens/rocket.jpg");
        @include base-mixins.background-image-center-contain;
      }

      .jobs {
        @include base-mixins.resetContainer;
        background-image: url("../../../assets/imagens/jobs.jpg");
        @include base-mixins.background-image-center-contain;
      }
    }
  }
}
